@using Front.Services.Interfaces.Auth
@inherits LayoutComponentBase

@inject IAuthService _authService;
@inject NavigationManager _navigationManager;

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="Logout">Logout</MudButton>
                    </Authorized>
                </AuthorizeView>
            </div>

            <article class="content px-4">
                <MudMainContent>
                    @Body
                </MudMainContent>
            </article>
        </main>
    </div>
</MudLayout>

@code{
    public async Task Logout()
    {
        await _authService.Logout();
        _navigationManager.NavigateTo("/");
    }
}