@using Front.Domain.Dialogs
@using Front.Pages
@using Front.Services.Interfaces.Dialogs

@inject IDialogManagerService _dialogManagerService;
@inject StateContainer _stateContainer;

@if (IsInitialized && IsDialog)
{
    <li class="ks-item">
        <NavLink href="@GetHrefByDialogId()" Match="NavLinkMatch.All">
            <span class="ks-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="36" height="36">
            </span>
            <div class="ks-body">
                <div class="ks-name">
                    @CurrentDialog.UserName
                    <span class="ks-datetime">Activity</span>
                </div>
                @if (_stateContainer.LastMessages.TryGetValue(DialogId, out string lastMessage))
                {
                    <div class="ks-message">@lastMessage</div>
                }
            </div>
        </NavLink>
    </li>
}
else
{
     <li class="ks-item">
        <NavLink href="@GetHrefByUserName()" Match="NavLinkMatch.All">
            <span class="ks-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="36" height="36">
            </span>
            <div class="ks-body">
                <div class="ks-name">
                    @UserName
                    <span class="ks-datetime">Activity</span>
                </div>
            </div>
        </NavLink>
    </li>
}

@code {

    [Parameter]
    public Guid DialogId{ get; set; }

    [Parameter]
    public string UserName { get; set; }

    private bool IsDialog => string.IsNullOrEmpty(UserName);

    private DialogDomainModel CurrentDialog { get; set; }

    private bool IsInitialized { get; set; }

    private string LastMessage { get; set; }

    protected async override Task OnInitializedAsync()
    {
        _stateContainer.OnChange += StateHasChanged;

        if (_stateContainer.Dialogs.Count == 0)
            _stateContainer.Dialogs = await _dialogManagerService.GetDialogsAsync();

        CurrentDialog = _stateContainer.Dialogs.FirstOrDefault(x => x.DialogId == DialogId);
        IsInitialized = true;

        await base.OnInitializedAsync();
    }

    private string GetHrefByDialogId()
    {
        return $"/dialog/{CurrentDialog.DialogId}";
    }

    private string GetHrefByUserName()
    {
        return $"/dialog/{UserName}";
    }
}
