<NavLink class="nav-link" href="signIn" Match="NavLinkMatch.All">
     <span class="oi oi-home" aria-hidden="true"></span> @UserName
 </NavLink>

@code {
    [Parameter]
    public string UserName{ get; set; }
}
