 <div class="ks-info ks-messenger__info">
         <div class="ks-header">
             User Info
         </div>
         <div class="ks-body">
             <div class="ks-item ks-user">
                 <span class="ks-avatar ks-online">
                     <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="36" height="36" class="rounded-circle">
                 </span>
                 <span class="ks-name">
                     @UserName
                 </span>
             </div>
             <div class="ks-item">
                 <div class="ks-name">Email</div>
                 <div class="ks-text">
                     @Email
                 </div>
             </div>
             <div class="ks-item">
                 <div class="ks-name">Phone Number</div>
                 <div class="ks-text">
                     @PhoneNumber
                 </div>
             </div>
         </div>
         <div class="ks-footer">
             <div class="ks-item">
                 <div class="ks-name">Created</div>
                 <div class="ks-text">
                     @DialogCreated
                 </div>
             </div>
             <div class="ks-item">
                 <div class="ks-name">Last Activity</div>
                    <div class="ks-text">
                        @LastActivity.Value
                    </div>
                    
             </div>
         </div>
</div>

@code {
    [Parameter]
    public string UserName{ get; set; }

    [Parameter]
    public string Email { get; set; }

    [Parameter]
    public string PhoneNumber { get; set; }

    [Parameter]

    public DateTime DialogCreated { get; set; }

    [Parameter]

    public DateTime? LastActivity { get; set; }

    [Parameter]
    public bool IsDialogConfirmed { get; set; }
}
