@page "/messanger"

@inject AuthenticationStateProvider _authStateProvider

<h3>Messanger</h3>

@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
